<div class="container">
    <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
    
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Login</h1>
       
        <input type="username"  [(ngModel)]="username" id="username" class="form-control" placeholder="User Name" required="" autofocus="">
        <input type="password" [(ngModel)]="password" id="password" class="form-control" placeholder="Password" required="">
        
        <button  (click)=handleLogin() class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Login</button>
        <a href="#" id="forgot_pswd">Forgot password?</a>
        <hr>
        
        

      
</div>